/* Empty css file that users can override in their own /assets/css/custom.css file */
.sidebar-about h1 {
    font-family: "Volume 4";
    color: #faa636;   
} 
.post-title {
    font-family: "Volume 4";
    color: #faa636;
    text-shadow:
    1px -1px 0 #000,
    -1px 1px 0 #000;
}
.page-title {
    font-family: "Volume 4";
    color: #faa636;

}
.content h1{
    font-family: "Volume 4";
    color: #faa636;
    
  
}
.tags li a{
   
    background-color: #faa636;
}
.reading-time{
    color: var(--text-color);
}
