/* Empty css file that users can override in their own /assets/css/custom.css file */
.sidebar-about h1 {
    font-family: "Volume 4";
    color: #fc8403;
    text-shadow:
    .5px .5px 0 #FFF,
    -.5px .5px 0 #FFF,
    -.5px -.5px 0 #FFF,
    .5px -.5px 0 #FFF;
} 
.post-title {
    font-family: "Volume 4";
    color: #fc8403;
}
.page-title {
    font-family: "Volume 4";
    color: #fc8403;
}
.content h1{
    font-family: "Volume 4";
    color: #fc8403;
    text-shadow:
    .5px .5px 0 #000,
    -.5px .5px 0 #000,
    -.5px -.5px 0 #000,
    .5px -.5px 0 #000;
}
.tags li a{
   
    background-color: #fc8403;
}
.reading-time{
    color: #FFF;
}
